div
  div.progress
    div.state(style='width:{{state}}')
  div.editor.editor-left
    div(ng-bind-html='fileA')
  div.editor
    div(ng-bind-html='fileB')
  div.operation
    div.btnContainer.btnContainer-left
      a.prev(href='{{prev || "javascript: void 0;"}}', ng-class='{disabled: !prev}') <&nbsp;
    div.btnContainer
      a.next(href='{{next || "javascript: void 0;"}}', ng-class='{disabled: !next}') >