div
  div.progress
    div.state(style='width:{{state}}')
  div.editor.editor-left
    div.filePath
      select(ng-model='filePathA', ng-options='path for path in filePaths', ng-change='switchFile()')
    div(ng-bind-html='fileA')
  div.editor
    div.filePath
      select(ng-model='filePathB', ng-options='path for path in filePaths', ng-change='switchFile()')
    div(ng-bind-html='fileB')
  div.operation
    div.btnContainerMargin
    div.btnContainer
      a.prev(href='{{prev || "javascript: void 0;"}}', ng-class='{disabled: !prev}') <&nbsp;
    div.btnContainer.btnContainer-right
      a.next(href='{{next || "javascript: void 0;"}}', ng-class='{disabled: !next}') >