div
  div.progress
    div.state(style='width:{{state}}')
  div.editor.editor-left
    pre {{fileA}}
  div.editor
    pre {{fileB}}
  div.operation
    div.btnContainer.btnContainer-left
      a.prev <&nbsp;
    div.btnContainer
      a.next >