div
  div.gitlab
    input.repo-url(type='text', ng-model='repoUrl', placeholder="gitlab project url")
    input(type='password', ng-model='privateKey', placeholder="gitlab private key")
    input.startBtn(type='submit', value='START!', ng-click='getRepo()')
