div.listContainer
  div.margin
  div.logo
    h1 CodingDojo
  div.list
    ul.dojos
      li(ng-repeat='problem in problems')
        a(href='javascript: void 0') {{problem.title}}
  div.add-problem-container
    a.add-problem(ng-click="addProblem()") +题目
