h1.problem-title {{problem.title}}
p.problem-desc {{problem.desc}}
ul.solution-list
  li
    a(href='#') abc
  li
    a(href='#') def
  li
    a(href='#') ghi
div.add-solution-container
  a.add-solution(ng-click='addSolution()') +解答