html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a.disabled {
  color: gray;
}

input {
  margin: auto 5px auto 5px;
  height: 30px;
  font-size: 13pt;
}

.gitlab {
  margin: 0 auto 0 auto;
  padding-top: 20%;
  width: 850px;
}

.repo-url {
  width: 500px;
}

.progress {
  height: 8px;
  width: 100%;
  background: lightgray;
}

.state {
  height: 100%;
  background: lightgreen;
}

.editor {
  float: left;
  width: 49%;
  height: 600px;
  overflow: scroll;
}

.editor-left {
  margin-right: 2%;
}

.operation {
  width: 100%;
  height: 50px;
  clear: both;
}

.operation a {
  font-size: 40pt;
  cursor: pointer;
}

.btnContainer {
  float: left;
  width: 49%;
}

.btnContainer-left {
  margin-right: 2%;
  text-align: right;
}
